.bgimg {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formContainer {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
}


.logosignin{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;  
}

.heroimage{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.heroImageContainer {
    position: relative;
  }

  .overlayText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #ffffff;
    width: 571px;
   padding: 20px;
  }
  
  .overlayText p {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
  }
 
.btnsubmit{
    width: 100%;
    height: 52px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    background-color: #471C8F;
    font-size: 0.95rem;
    cursor: pointer;
}

.btnsubmit:hover{
background-color: #5751b3;
}

.socialicons{
    width: 100%;
}
/* new styling */
.formbody{
    margin-top: 4rem;
}
.formbodyy{
    margin-top: 0rem;
}

.heroimg{
    display: block;
}

.btnsection{
    width: 100%;
    margin-top: 0.3rem;
}


/* ends here */
/* .formcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
} */

.formcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  .labels {
    font-weight: 400; 
    font-size: 0.85rem;
  }
  
  .inputs {
    display: block;
    width: 100%;
    /* outline: none; */
    /* border: none; */
    padding: 0.5rem;
    font-size: 0.75rem;
    font-weight: 21px;
    line-height: 1.5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;  
    background-clip: padding-box;
    border-radius: 10px;
  }

  .passwordinput::placeholder{
    font-size: 0.75rem;
  }


  .passwordinput {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    padding: 0.5rem;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;  
    background-clip: padding-box;
    border-radius: 10px;
}

  
  .inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .passwordInputContainer {
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .passwordIconContainer {
    flex: 1; /* Let it take up the remaining space */
    display: flex;
    justify-content: flex-end; /* Align icon to the right */
    align-items: center;
    cursor: pointer;
    margin-right: 0.8rem;
    color: #8E8B8B;
  }
  
  .passwordIcon {
    font-size: 1.2em; 
   
  }
  
  

.socials{
    width: 70%;
    margin: auto;
    font-style: italic;
    color: #8E8B8B;
    font-size: 1rem;
    font-weight: 400;
}

.noaccount{
    width: 70%;
    margin-top: 2rem;
    padding-left: 7rem;
    font-style: italic;
    color: #8E8B8B;
    font-size: 0.85rem;
    font-weight: 400;
}

@media only screen and (max-width:1200px) {
  .overlayText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #ffffff;
    width: 100%;
   padding: 20px;
  }
}

@media only screen and (max-width:700px) {
    .heroimg{
        display: none;
    }  
    /* .formbody{
        margin-top: 0%;   
    }
    .formbodyy{
        margin-top: 10%;   
    } */

    .noaccount{
      display: flex;
      justify-content: flex-start;
        padding-left: 3.6rem;
        width: 100%;
    }

    .bgimg {
      margin: 0;
      padding: 0;
      background: url('/heroimage.png') no-repeat center center fixed;
      background-size: cover;
    }
    
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    
    .formContainer {
      display: block;
      background-color: white;
      padding: 20px;
      width: 90%;
      height: 80%;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}

.socialbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    height: 30px;
    width: 130px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    cursor: pointer;
}

.fcbkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    height: 30px;
    width: 130px;
    margin: 0 2rem;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    cursor: pointer;
}

.optional{
    display: flex;
    justify-content: center;
    font-size: 0.85rem;
    color: #8E8B8B;
    font-weight: 400;
    margin-top: 2.5rem;
}

.linkto{
    text-decoration: none;
    color: #000;
    font-size: 0.85rem;
}

.noaccountt{
  font-size: 0.85rem;
}