.tableContainertwo {
  /* overflow-x: auto;  */
  width: 100%;
  height: 100;
  /* overflow-y: scroll; */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
}

.table{
  width: 100%;

}

.table thead{
  border: 1px solid #F5F5F5;
  background-color: #F5F5F5;
  border-radius: 10px;
}
.table thead th{
  padding: 0.5rem;
  font-size: 0.85rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.1em;
}

.td{
  padding: 0.5rem;
  font-size: 0.75rem;

}


.firstrow{
  background-color: #ffffff;
  text-align: center;
}

.secondrow{
  background-color: #F5F5F5;
  text-align: center;
}

.tableContainer {
    overflow-x: scroll; 
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
  }


  .tablebody{
    padding-left: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
  }

  .sidebarwidth{
    width: 22%;
  }

  .contentwidth{
    width: 78%;
  }

  .innerbody{
    width: 100%;

  }

  .recentadd{
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
  }
  

  .customTable {
    width: 100%; 
    border-collapse: collapse; 
  
  }
  
  .customTable thead {
    background-color: #F5F5F5; 
    position: sticky; 
    top: 0; 
    color: #000;
    font-size: 14px;
    font-weight: 700;
  }
  

  .customTable th {
    padding: 20px; 
  }
  
  
  .customTable td {
    padding: 10px 20px; 
  }
  
  
  .customTable .oddrow {
    background-color: #F5F5F5;
    font-size: 13px;
    font-weight: 400;
    color: #000;
  }
  
  .customTable .evenrow {
    background-color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    color: #000;
  }
  
  .btnsubmit{
    width: 100%;
    height: 32px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    background-color: #471C8F;
    cursor: pointer;
}

.addsite{
  display: flex;
  align-items: center;
  padding-top: 6rem;
  justify-content: center;
}

.selectwebsite {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
  border: 1px solid #471C8F;
  width: 300px;
  height: 100px;
  margin: 2rem 0;
  border-radius: 5px;
  box-shadow: 6px 6px 6px 0px #00000040;
}

.selectweb{
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 30px;
  color: #000;
}

.iconContainer {
  position: relative;   
}

.icon {
  position: absolute;
  bottom: -15px; 
  right: -70px; 
  color: #4208a7;
}

.btncontinue{
  width: 150px;
  height: 32px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background-color: #471C8F;
  cursor: pointer;
}

.alignment{
  text-align: center;
}

.container {
  display: grid;
  width: 100%;
  margin: 0 auto;
  /* gap: 1.8rem; */
  grid-template-columns: 14rem auto;
}

.contentbody{
  margin-top: 4rem;
  padding-left: 0.5rem;
  overflow-y: scroll;
}

@media  screen and (max-width: 1200px) {

  .container{
      grid-template-columns: 7rem auto;
  }



}

@media  screen and (max-width: 768px) {

  .container{
      width: 100%;
      grid-template-columns: auto;
  }

  .contentbody{
    position: relative;
    left: 0;
    margin-top: 6rem;
    width: 55%;
}

}
